;;shadow clj config
{:deps {:aliases [:cljs]}
 :builds {:app {:target :browser
                :output-dir "resources/public/assets/js"
                #_#_:asset-path "/assets/js"
                :js-options {:js-package-dirs ["node_modules"
                                               "../node_modules"]}
                #_#_:devtools {:http-port 8000
                           :http-root "resources/public/"
                           :reload-strategy :full
                           :preloads [dev.refresh]}
                :dev-http {5003 "resources/public"}
                #_#_:dev      {:modules {:core {:init-fn dev.core/init}}}
                #_#_:release  {:modules {:core {:init-fn app.core/init}}}}
          #_#_:tests    {:target           :browser-test
                     :test-dir         "resources/test"
                     :ns-regexp        "-test$"
                     :devtools         {:http-port 8100
                                        :http-root "resources/test"}}

          #_#_:ci-tests {:target           :karma
                     :output-to        "resources/test/ci.js"
                     :ns-regexp        "-test$"
                     :compiler-options {:static-fns false}}}}
